chat-app/api/my_model/model.safetensors filter=lfs diff=lfs merge=lfs -text
chat-app/api/saved_models/skin_disease_treatment_model.pt filter=lfs diff=lfs merge=lfs -text
chat-app/api/saved_models/skin_disease_detection_model.pt filter=lfs diff=lfs merge=lfs -text
